<?xml version="1.0" encoding="utf-8" ?>
<!--suppress HibernateConfigDomInspection -->
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/hibernate-configuration">
    <session-factory>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1/hotel_unir</property>
        <property name="connection.username.password"/>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping class="model.Trabajador"/><!-- hay que hacer un mapping por cada clase-->


     </session-factory>
 </hibernate-configuration>